In [1]:
import pandas as pd
import numpy as np

In [2]:
data_index = pd.read_excel('C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/IndexRekomendasi.xlsx')
data_index

                   index
0     {3, 6, 10, 11, 17}
1       {0, 3, 5, 8, 15}
2       {1, 3, 4, 6, 15}
3       {0, 3, 4, 5, 17}
4       {0, 3, 4, 5, 17}
5       {0, 3, 4, 5, 15}
6      {3, 4, 6, 15, 17}
7       {0, 3, 4, 6, 15}
8       {0, 3, 4, 6, 15}
9       {3, 6, 7, 8, 15}
10      {0, 5, 6, 7, 15}
11      {3, 4, 5, 6, 15}
12  {36, 23, 27, 28, 30}
13  {32, 23, 24, 28, 29}
14  {39, 22, 23, 29, 30}
15  {23, 24, 25, 26, 30}
16  {23, 24, 28, 29, 30}
17  {23, 24, 25, 29, 30}
18  {22, 23, 24, 26, 30}
19  {23, 24, 26, 28, 29}
20  {22, 23, 24, 25, 30}
21  {23, 24, 25, 26, 28}
22  {23, 24, 26, 28, 29}
23  {23, 24, 25, 28, 30}
24  {50, 51, 52, 55, 59}
25  {47, 54, 55, 58, 59}
26  {47, 54, 56, 57, 58}
27  {42, 47, 52, 54, 57}
28  {42, 47, 52, 54, 57}
29  {42, 47, 54, 56, 57}
30  {42, 47, 54, 56, 57}
31  {42, 47, 54, 56, 57}
32  {42, 47, 54, 56, 57}
33  {45, 47, 52, 54, 57}
34  {45, 47, 52, 54, 57}
35  {47, 52, 54, 56, 57}
36  {70, 75, 76, 77, 63}
37  {67, 72, 78, 79, 60}
38  {69, 72, 75, 79, 63}
39  {68, 69, 72, 78, 79}
40  {69, 72, 78, 79, 60}
41  {69, 72, 75, 78, 79}
42  {65, 69, 72, 78, 79}
43  {69, 72, 78, 79, 60}
44  {69, 72, 75, 78, 79}
45  {69, 72, 75, 78, 79}
46  {69, 72, 78, 79, 60}
47  {69, 72, 75, 78, 79}
48  {96, 99, 86, 90, 93}
49  {96, 97, 86, 87, 92}
50  {96, 97, 99, 86, 93}
51  {96, 97, 99, 86, 93}

In [3]:
data_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   52 non-null     object
dtypes: object(1)
memory usage: 544.0+ bytes

In [4]:
import ast
ast.literal_eval(data_index['index'][0])

{3, 6, 10, 11, 17}

In [5]:
index = ast.literal_eval(data_index['index'][0])
# index = [10, 11, 17, 6, 3]
temp = []
for k in range(0, 100):
  if(k in index):
    res = 1
    temp.append(res)
  else:
    res = 0
    temp.append(res)

print(temp)

[0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [6]:
res_index_sistem = pd.DataFrame({'index' : []})
for i in range(0,len(data_index)):
  temp = []
  az = ast.literal_eval(data_index['index'][i])
  for k in range(0,100):
      if(k in az):
        res = 1
        temp.append(res)
      else:
        res = 0
        temp.append(res)
  new_res = pd.DataFrame([{'index': temp}])
  res_index_sistem = pd.concat([res_index_sistem, new_res], ignore_index=True)

In [15]:
pd.set_option('display.max_colwidth', 150)
res_index_sistem.head(3)

                                                                                                                                                   index
0  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
1  [1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
2  [0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...

In [8]:
res_index_sistem.to_excel(
    "C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" + 'MatriksHasilRekomendasiSistem.xlsx', index=False)

# MATRIKS AHLI

In [9]:
data_index_ahli = pd.read_excel(
    'C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/HasilRekomendasiAhli.xlsx')
data_index_ahli

,Jenis Produk,Jenis Kulit,Permasalahan Kulit,Index,5 Rekomendasi
0,Facial wash,Normal,Normal,"[10, 11, 13, 14, 17]","Kind Facial Wash 120ml, Facial Wash Gel (Sabun..."
1,Facial wash,Normal,Kusam,"[6, 14, 0, 1, 2]","Golden Age Deep Cleansing Facial Wash, Deep Wa..."
2,Facial wash,Normal,Jerawat,"[18, 3, 8, 12, 15]","Acne Buster Mild Cleanser Foam, Hy! Amino Ac-T..."
3,Facial wash,Berminyak,Normal,"[15, 16, 17, 19, 1]","Tea Tree & Lemon Facial Cleanser, Glowing Brig..."
4,Facial wash,Berminyak,Kusam,"[0, 1, 5, 7, 9]","Marigold Deep-Cleanse Facial Wash, Acne Facial..."
5,Facial wash,Berminyak,Jerawat,"[15, 17, 18, 3, 7]","Tea Tree & Lemon Facial Cleanser, Hydralife Mi..."
6,Facial wash,Kering,Normal,"[13, 2, 3, 8, 9]","Skin Barrier Face Gel Cleanser, Hy! Amino Wow-..."
7,Facial wash,Kering,Kusam,"[2, 4, 8, 12, 13]","Hy! Amino Wow-tery Hydrating Facial Wash, Hy! ..."
8,Facial wash,Kering,Jerawat,"[3, 12, 15, 18, 19]","Hy! Amino Ac-TtackAnti-Acne Facial Wash, Licor..."
9,Facial wash,Kombinasi,Normal,"[0, 1, 5, 7, 8]","Marigold Deep-Cleanse Facial Wash, Acne Facial..."
10,Facial wash,Kombinasi,Kusam,"[12, 16, 5, 0, 19]","Licorice Bring The Light Cleanser, Glowing Bri..."
11,Facial wash,Kombinasi,Jerawat,"[18, 3, 0, 4, 5]","Acne Buster Mild Cleanser Foam, Hy! Amino Ac-T..."
12,Face toner,Normal,Normal,"[21, 22, 34, 35, 23]","Moisture Rich Hydrating Toner, Mild Purifying ..."
13,Face toner,Normal,Kusam,"[29, 28, 34, 35, 25]",YOUR SKIN BAE SERIES Toner Niacinamide 7% + Al...
14,Face toner,Normal,Jerawat,"[30, 39, 23, 22, 25]",YOUR SKIN BAE SERIES Toner Salicylic Acid 1% +...
15,Face toner,Berminyak,Normal,"[30, 25, 29, 28, 39]",YOUR SKIN BAE SERIES Toner Salicylic Acid 1% +...
16,Face toner,Berminyak,Kusam,"[29, 28, 23, 39, 34]",YOUR SKIN BAE SERIES Toner Niacinamide 7% + Al...
17,Face toner,Berminyak,Jerawat,"[30, 25, 39, 22, 29]",YOUR SKIN BAE SERIES Toner Salicylic Acid 1% +...
18,Face toner,Kering,Normal,"[32, 23, 24, 22, 30]","Skin Ready Hydrating Booster, Multi Acids Glow..."
19,Face toner,Kering,Kusam,"[29, 32, 24, 25, 23]",YOUR SKIN BAE SERIES Toner Niacinamide 7% + Al...
20,Face toner,Kering,Jerawat,"[30, 22, 23, 39, 32]",YOUR SKIN BAE SERIES Toner Salicylic Acid 1% +...
21,Face toner,Kombinasi,Normal,"[30, 28, 24, 23, 29]",YOUR SKIN BAE SERIES Toner Salicylic Acid 1% +...
22,Face toner,Kombinasi,Kusam,"[29, 24, 23, 25, 28]",YOUR SKIN BAE SERIES Toner Niacinamide 7% + Al...
23,Face toner,Kombinasi,Jerawat,"[30, 24, 23, 22, 39]",YOUR SKIN BAE SERIES Toner Salicylic Acid 1% +...
24,Face serum,Normal,Normal,"[56, 53, 40, 46, 41]","Centella Herb Serum, Pore Tightening & Oil Con..."
25,Face serum,Normal,Kusam,"[52, 40, 59, 47, 55]","Retinol Smooth Glowing Serum, Licorice Potion ..."
26,Face serum,Normal,Jerawat,"[56, 47, 54, 57, 50]","Centella Herb Serum, AHA-BHA-PHA Peeling Serum..."
27,Face serum,Berminyak,Normal,"[52, 47, 42, 55, 59]","Retinol Smooth Glowing Serum, AHA-BHA-PHA Peel..."
28,Face serum,Berminyak,Kusam,"[52, 56, 46, 40, 53]","Retinol Smooth Glowing Serum, Centella Herb Se..."
29,Face serum,Berminyak,Jerawat,"[56, 47, 57, 54, 59]","Centella Herb Serum, AHA-BHA-PHA Peeling Serum..."
30,Face serum,Kering,Normal,"[50, 49, 52, 47, 45]","Miracle Oil Serum, HydraMax Water Bank Serum, ..."
31,Face serum,Kering,Kusam,"[52, 47, 49, 54, 45]","Retinol Smooth Glowing Serum, AHA-BHA-PHA Peel..."
32,Face serum,Kering,Jerawat,"[47, 54, 42, 56, 57]","AHA-BHA-PHA Peeling Serum, Daily Defender Mult..."
33,Face serum,Kombinasi,Normal,"[47, 54, 55, 56, 57]","AHA-BHA-PHA Peeling Serum, Daily Defender Mult..."
34,Face serum,Kombinasi,Kusam,"[52, 47, 54, 49, 57]","Retinol Smooth Glowing Serum, AHA-BHA-PHA Peel..."
35,Face serum,Kombinasi,Jerawat,"[47, 52, 59, 56, 42]","AHA-BHA-PHA Peeling Serum, Retinol Smooth Glow..."
36,Moisturizer,Normal,Normal,"[63, 67, 66, 68, 78]","Daily Light Moisturizer, Skin Oasis Barrier, D..."
37,Moisturizer,Normal,Kusam,"[60, 73, 71, 62, 70]","Licorice Creamy Light Moisturizer, AcnePlus Sk..."
38,Moisturizer,Normal,Jerawat,"[63, 72, 75, 69, 79]","Daily Light Moisturizer, Waterizer Light Weigh..."
39,Moisturizer,Berminyak,Normal,"[72, 70, 78, 69, 60]",Waterizer Light Weight Cream Hyaluronic Acid +...
40,Moisturizer,Berminyak,Kusam,"[70, 60, 66, 69, 68]","Oil Free Brightening Daily Moisturizer, Licori..."
41,Moisturizer,Berminyak,Jerawat,"[72, 69, 75, 79, 68]",Waterizer Light Weight Cream Hyaluronic Acid +...
42,Moisturizer,Kering,Normal,"[72, 78, 70, 77, 63]",Waterizer Light Weight Cream Hyaluronic Acid +...
43,Moisturizer,Kering,Kusam,"[72, 78, 79, 69, 75]",Waterizer Light Weight Cream Hyaluronic Acid +...
44,Moisturizer,Kering,Jerawat,"[69, 68, 72, 75, 79]","Marigold Memory Bounce Moisturizer, Acneact Ge..."
45,Moisturizer,Kombinasi,Normal,"[70, 77, 72, 73, 78]","Oil Free Brightening Daily Moisturizer, Aquabl..."
46,Moisturizer,Kombinasi,Kusam,"[69, 70, 60, 79, 72]","Marigold Memory Bounce Moisturizer, Oil Free B..."
47,Moisturizer,Kombinasi,Jerawat,"[70, 69, 79, 68, 72]","Oil Free Brightening Daily Moisturizer, Marigo..."
48,Sunscreen,Normal,Normal,"[90, 91, 82, 99, 92]","Skin Barrier Sunscreen SPF 50 PA++++, Bb Size ..."
49,Sunscreen,Berminyak,Normal,"[80, 89, 82, 90, 84]",No Sebum Mineral Blur Translucent Loose Powder...
50,Sunscreen,Kering,Normal,"[90, 96, 86, 97, 88]","Skin Barrier Sunscreen SPF 50 PA++++, Tone Up ..."
51,Sunscreen,Kombinasi,Normal,"[90, 84, 87, 91, 89]","Skin Barrier Sunscreen SPF 50 PA++++, Cera Sun..."

In [10]:
import ast
ast.literal_eval(data_index_ahli['Index'][0])

[10, 11, 13, 14, 17]

In [11]:
data_index_ahli['Index'][0]

'[10, 11, 13, 14, 17]'

In [12]:
res_index_ahli = pd.DataFrame({'index': []})
for i in range(0, len(data_index_ahli)):
  temp = []
  az = ast.literal_eval(data_index_ahli['Index'][i])
  for k in range(0, 100):
      if (k in az):
        res = 1
        temp.append(res)
      else:
        res = 0
        temp.append(res)
  new_res_ahli = pd.DataFrame([{'index': temp}])
  res_index_ahli = pd.concat([res_index_ahli, new_res_ahli], ignore_index=True)

In [16]:
res_index_ahli.head(3)

                                                                                                                                                   index
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
1  [1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
2  [0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...

In [ ]:
res_index_ahli.head(3)

                                                                                                                                                   index
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
1  [1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
2  [0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...

In [14]:
res_index_ahli.to_excel(
    "C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" + 'MatriksHasilRekomendasiAhli.xlsx', index=False)