# IMPORT DATA

In [1]:
#library untuk membuat, mengubah dan mengecek data pada tabel
import pandas as pd
pd.set_option('display.max_colwidth', 20)
# pd.reset_option('^display.', silent=True)
# pd.set_option('display.max_rows', 3)
import numpy as np
#Membaca data csv
data_path = "C:\\Users\\HP\\Downloads\\TUGAS AKHIR\EXCEL KODINGAN\\DataProdukVers5.csv"
data_product = pd.read_csv(data_path)

#Menampilkan data
data_product.head(3)

,No,Nama,Jenis,Merk,Jenis Kulit,Permasalahan Kulit,Deskripsi,Kandungan,Gambar
0,1,Marigold Deep-Cl...,Facial Wash,NPure,"normal, berminya...","normal, kusam",Pembersih muka d...,"Water, Glycerin,...",https://www.beau...
1,2,Acne Facial Wash,Facial Wash,SCARLETT WHITENING,"normal, berminya...","normal, kusam",Scarlett Whiteni...,"Aqua, Lauryl Glu...",https://www.beau...
2,3,Hy! Amino Wow-te...,Facial Wash,YOU BEAUTY,"normal, kering","normal, kusam",Facial Wash yang...,"Water, Sodium La...",https://www.beau...

# TEXT PREPROCESSING

In [2]:
pd.set_option('display.max_colwidth', 150)
#Drop kolom yang tidak dibutuhkan
data_product = data_product.drop(labels=["No","Merk","Deskripsi","Gambar"], axis='columns')

data_product.head(2)

,Nama,Jenis,Jenis Kulit,Permasalahan Kulit,Kandungan
0,Marigold Deep-Cleanse Facial Wash,Facial Wash,"normal, berminyak, kering, kombinasi","normal, kusam","Water, Glycerin, Coco-Betaine, Disodium Cocoamphodiacetate, Sodium Chloride, Potassium Cocoyl Glycinate, Calendula Officinalis Flower Extract, But..."
1,Acne Facial Wash,Facial Wash,"normal, berminyak, kombinasi","normal, kusam","Aqua, Lauryl Glucoside, Acrylates Copolymer, Sodium Cocoyl Glyrcinate, Peg-40 Hydrogenated Castor Oil, Cocamidopropyl Betaine, Phenoxyethanol, Ami..."

In [3]:
data_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nama                100 non-null    object
 1   Jenis               100 non-null    object
 2   Jenis Kulit         100 non-null    object
 3   Permasalahan Kulit  100 non-null    object
 4   Kandungan           100 non-null    object
dtypes: object(5)
memory usage: 4.0+ KB

In [4]:
data_textPre = pd.DataFrame()
data_textPre['data awal'] = data_product['Nama'] + " " + data_product['Jenis '] + " " + data_product['Jenis Kulit'] + " " + data_product['Permasalahan Kulit'] + " " + data_product['Kandungan']

In [5]:
data_textPre[['data awal']].head(3)

                                                                                                                                               data awal
0  Marigold Deep-Cleanse Facial Wash Facial Wash normal, berminyak, kering, kombinasi normal, kusam Water, Glycerin, Coco-Betaine, Disodium Cocoampho...
1  Acne Facial Wash Facial Wash normal, berminyak, kombinasi normal, kusam Aqua, Lauryl Glucoside, Acrylates Copolymer, Sodium Cocoyl Glyrcinate, Peg...
2  Hy! Amino Wow-tery Hydrating Facial Wash Facial Wash normal, kering normal, kusam Water, Sodium Laureth Sulfate, Cocamidopropyl Betaine, Sodium La...



## CASE FOLDING

In [6]:
data_caseFolding = pd.DataFrame(data=data_textPre['data awal'])
data_caseFolding.rename(columns={'data awal':'case folding'}, inplace=True)
# Case Folding
for i in range(0, len(data_caseFolding)):
  data_caseFolding['case folding'][i] = data_caseFolding['case folding'][i].lower()

In [7]:
data_caseFolding.head(3)

                                                                                                                                            case folding
0  marigold deep-cleanse facial wash facial wash normal, berminyak, kering, kombinasi normal, kusam water, glycerin, coco-betaine, disodium cocoampho...
1  acne facial wash facial wash normal, berminyak, kombinasi normal, kusam aqua, lauryl glucoside, acrylates copolymer, sodium cocoyl glyrcinate, peg...
2  hy! amino wow-tery hydrating facial wash facial wash normal, kering normal, kusam water, sodium laureth sulfate, cocamidopropyl betaine, sodium la...

## TOKENIZING

In [8]:
pip install nltk

Requirement already satisfied: nltk in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from nltk) (2023.3.23)
Requirement already satisfied: tqdm in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\hp\appdata\roaming\python\python38\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
#Mengimport nltk
import nltk
# import reguler expression
import re
# import string
import string
#Mendownload package untuk menghapus tanda baca
nltk.download('punkt')
# impor word_tokenize dari modul nltk
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [10]:
#Tokenizing
data_tokenizing = pd.DataFrame(data=data_caseFolding['case folding'])
data_tokenizing.rename(columns={'case folding': 'tokenizing'}, inplace=True)

for i in range (0, len(data_tokenizing)):
  #Menghapus Tanda Baca
  data_tokenizing['tokenizing'][i] = data_tokenizing['tokenizing'][i].translate(
      str.maketrans('', '', string.punctuation))
  #Menghapus Simbol (@)
  data_tokenizing['tokenizing'][i] = re.sub(
      r"@\S+", "", data_tokenizing['tokenizing'][i])
  #Menghapus URL
  data_tokenizing['tokenizing'][i] = re.sub(
      "http[s]?\://\S+", "", data_tokenizing['tokenizing'][i])
  #Menghapus tab atau line karakter
  data_tokenizing['tokenizing'][i] = re.sub(
      r"\n", "", data_tokenizing['tokenizing'][i])
  #Menghapus berlebihan spasi
  data_tokenizing['tokenizing'][i] = re.sub(
      '\s+', ' ', data_tokenizing['tokenizing'][i])
  #Memisahkan kata menggunakan word_tokenize
  data_tokenizing['tokenizing'][i] = nltk.word_tokenize(
      data_tokenizing['tokenizing'][i])

In [11]:
data_tokenizing.head(3)

                                                                                                                                              tokenizing
0  [marigold, deepcleanse, facial, wash, facial, wash, normal, berminyak, kering, kombinasi, normal, kusam, water, glycerin, cocobetaine, disodium, c...
1  [acne, facial, wash, facial, wash, normal, berminyak, kombinasi, normal, kusam, aqua, lauryl, glucoside, acrylates, copolymer, sodium, cocoyl, gly...
2  [hy, amino, wowtery, hydrating, facial, wash, facial, wash, normal, kering, normal, kusam, water, sodium, laureth, sulfate, cocamidopropyl, betain...

## FILTERING

In [12]:
#Filtering
data_filtering = pd.DataFrame(data=data_tokenizing['tokenizing'])
data_filtering.rename(columns={'tokenizing': 'filtering'}, inplace=True)

#Mendownload package stopwords untuk menghapus kata kata yang tidak berarti dalam sebuah kalimat
nltk.download('stopwords')
from nltk.corpus import stopwords

#Stopword Bahasa Indonesia
indo_stopword = (stopwords.words('indonesian'))

#Stopword Bahasa Inggris
eng_stopword = (stopwords.words('english'))

#Data Stopword
data_stopword = indo_stopword
data_stopword.extend(eng_stopword)
data_stopword = str(data_stopword)

for i in range (0, len(data_filtering)):
  data_filtering['filtering'][i] = [word for word in data_filtering['filtering'][i] if not word in (data_stopword)]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
data_filtering.head(3)

                                                                                                                                               filtering
0  [marigold, deepcleanse, facial, wash, facial, wash, normal, berminyak, kering, kombinasi, normal, kusam, water, glycerin, cocobetaine, disodium, c...
1  [acne, facial, wash, facial, wash, normal, berminyak, kombinasi, normal, kusam, aqua, lauryl, glucoside, acrylates, copolymer, sodium, cocoyl, gly...
2  [amino, wowtery, hydrating, facial, wash, facial, wash, normal, kering, normal, kusam, water, sodium, laureth, sulfate, cocamidopropyl, betaine, s...

## STEMMING

In [14]:
pip install PySastrawi

Requirement already satisfied: PySastrawi in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
# data_stemming = pd.DataFrame(data=data_filtering['filtering'])
# data_stemming.rename(columns={'filtering': 'stemming'}, inplace=True)
# #Stemming
# from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

# #Membuat stemmer
# Factory = StemmerFactory()
# Stemmer = Factory.create_stemmer()

# for i in range (0, len(data_stemming)):
#   temp = []
#   for j in range (0, len(data_stemming['stemming'][i])):
#     data_stemming['stemming'][i][j] = Stemmer.stem(data_stemming['stemming'][i][j])
#     temp.append(data_stemming['stemming'][i][j])
#   data_stemming['stemming'][i] = temp

In [16]:
# data_stemming.head(3)

## Menggabungkan hasil tahapam preprocessing

In [17]:
data_textPre_res = pd.concat([data_textPre, data_caseFolding, data_tokenizing, data_filtering], axis=1)

In [18]:
data_textPre_res.head(3)

,data awal,case folding,tokenizing,filtering
0,"Marigold Deep-Cleanse Facial Wash Facial Wash normal, berminyak, kering, kombinasi normal, kusam Water, Glycerin, Coco-Betaine, Disodium Cocoampho...","marigold deep-cleanse facial wash facial wash normal, berminyak, kering, kombinasi normal, kusam water, glycerin, coco-betaine, disodium cocoampho...","[marigold, deepcleanse, facial, wash, facial, wash, normal, berminyak, kering, kombinasi, normal, kusam, water, glycerin, cocobetaine, disodium, c...","[marigold, deepcleanse, facial, wash, facial, wash, normal, berminyak, kering, kombinasi, normal, kusam, water, glycerin, cocobetaine, disodium, c..."
1,"Acne Facial Wash Facial Wash normal, berminyak, kombinasi normal, kusam Aqua, Lauryl Glucoside, Acrylates Copolymer, Sodium Cocoyl Glyrcinate, Peg...","acne facial wash facial wash normal, berminyak, kombinasi normal, kusam aqua, lauryl glucoside, acrylates copolymer, sodium cocoyl glyrcinate, peg...","[acne, facial, wash, facial, wash, normal, berminyak, kombinasi, normal, kusam, aqua, lauryl, glucoside, acrylates, copolymer, sodium, cocoyl, gly...","[acne, facial, wash, facial, wash, normal, berminyak, kombinasi, normal, kusam, aqua, lauryl, glucoside, acrylates, copolymer, sodium, cocoyl, gly..."
2,"Hy! Amino Wow-tery Hydrating Facial Wash Facial Wash normal, kering normal, kusam Water, Sodium Laureth Sulfate, Cocamidopropyl Betaine, Sodium La...","hy! amino wow-tery hydrating facial wash facial wash normal, kering normal, kusam water, sodium laureth sulfate, cocamidopropyl betaine, sodium la...","[hy, amino, wowtery, hydrating, facial, wash, facial, wash, normal, kering, normal, kusam, water, sodium, laureth, sulfate, cocamidopropyl, betain...","[amino, wowtery, hydrating, facial, wash, facial, wash, normal, kering, normal, kusam, water, sodium, laureth, sulfate, cocamidopropyl, betaine, s..."

In [19]:
pd.set_option('display.max_colwidth', 60)
data_textPre_res.head(3)

,data awal,case folding,tokenizing,filtering
0,"Marigold Deep-Cleanse Facial Wash Facial Wash normal, be...","marigold deep-cleanse facial wash facial wash normal, be...","[marigold, deepcleanse, facial, wash, facial, wash, norm...","[marigold, deepcleanse, facial, wash, facial, wash, norm..."
1,"Acne Facial Wash Facial Wash normal, berminyak, kombinas...","acne facial wash facial wash normal, berminyak, kombinas...","[acne, facial, wash, facial, wash, normal, berminyak, ko...","[acne, facial, wash, facial, wash, normal, berminyak, ko..."
2,Hy! Amino Wow-tery Hydrating Facial Wash Facial Wash nor...,hy! amino wow-tery hydrating facial wash facial wash nor...,"[hy, amino, wowtery, hydrating, facial, wash, facial, wa...","[amino, wowtery, hydrating, facial, wash, facial, wash, ..."

In [20]:
#Menjadikan dataset file xlsx
data_textPre_res.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'Hasil Text Preprocessing 3.xlsx', index=False)

# Menggabungkan Kata

In [21]:
#Menggabungkan setiap kata dalam satu data
dataset_res = [] 

for i in range(0, len(data_textPre_res['filtering'])):
  temp = []
  temp = " ".join(data_textPre_res['filtering'][i])
  dataset_res.append(temp)

dataset = pd.DataFrame(dataset_res, columns=["data"])
dataset.head(3)

                                                          data
0  marigold deepcleanse facial wash facial wash normal berm...
1  acne facial wash facial wash normal berminyak kombinasi ...
2  amino wowtery hydrating facial wash facial wash normal k...

In [22]:
# Menjadikan dataset file xlsx
dataset.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'Dataset Digabungkan 3.xlsx', index=False)

# 5 RECOMMENDATION

## IMPORT DATA PENGGUNA

In [23]:
data_path = "C:\\Users\\HP\\Downloads\\DataPengguna4.csv"
data_pengguna = pd.read_csv(data_path)
data_pengguna.head(3)

,No,Jenis Produk,Jenis Kulit,Permasalahan Kulit,Kandungan
0,1,Facial Wash,Normal,Normal,NaN
1,2,Facial Wash,Normal,Kusam,"Hyaluronic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, N..."
2,3,Facial Wash,Normal,Jerawat,"Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid..."

In [24]:
data_pengguna = data_pengguna.drop(labels=["No"], axis='columns')
data_pengguna["Kandungan"].fillna(" ", inplace=True)
data_pengguna['input'] = data_pengguna['Jenis Produk'] + " " + data_pengguna['Jenis Kulit'] + \
    " " + data_pengguna['Permasalahan Kulit'] + \
    " " + data_pengguna['Kandungan']

In [25]:
data_pengguna["Kandungan"].fillna(" ", inplace=True)

## MEMBUAT DATA KEMUNGKINAN INPUTAN PENGGUNA

In [26]:
data_pengguna['input'] = data_pengguna['Jenis Produk'] + " " +  data_pengguna['Jenis Kulit'] + " " + data_pengguna['Permasalahan Kulit'] + " " + data_pengguna['Kandungan']

data_pengguna.head(3)

,Jenis Produk,Jenis Kulit,Permasalahan Kulit,Kandungan,input
0,Facial Wash,Normal,Normal,,Facial Wash Normal Normal
1,Facial Wash,Normal,Kusam,"Hyaluronic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, N...","Facial Wash Normal Kusam Hyaluronic Acid, Alpha Hydroxy ..."
2,Facial Wash,Normal,Jerawat,"Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid...","Facial Wash Normal Jerawat Salicylic Acid, Sulfur, Azela..."

In [27]:
data_pengguna

,Jenis Produk,Jenis Kulit,Permasalahan Kulit,Kandungan,input
0,Facial Wash,Normal,Normal,,Facial Wash Normal Normal
1,Facial Wash,Normal,Kusam,"Hyaluronic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, N...","Facial Wash Normal Kusam Hyaluronic Acid, Alpha Hydroxy ..."
2,Facial Wash,Normal,Jerawat,"Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid...","Facial Wash Normal Jerawat Salicylic Acid, Sulfur, Azela..."
3,Facial Wash,Berminyak,Normal,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Facial Wash Berminyak Normal Dimethicone, Glycolic Acid,..."
4,Facial Wash,Berminyak,Kusam,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Facial Wash Berminyak Kusam Dimethicone, Glycolic Acid, ..."
5,Facial Wash,Berminyak,Jerawat,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Facial Wash Berminyak Jerawat Dimethicone, Glycolic Acid..."
6,Facial Wash,Kering,Normal,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Facial Wash Kering Normal Hyaluronic Acid, Glycerin, Gly..."
7,Facial Wash,Kering,Kusam,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Facial Wash Kering Kusam Hyaluronic Acid, Glycerin, Glyc..."
8,Facial Wash,Kering,Jerawat,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Facial Wash Kering Jerawat Hyaluronic Acid, Glycerin, Gl..."
9,Facial Wash,Kombinasi,Normal,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Facial Wash Kombinasi Normal Hyaluronic Acid, Lactic Aci..."
10,Facial Wash,Kombinasi,Kusam,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Facial Wash Kombinasi Kusam Hyaluronic Acid, Lactic Acid..."
11,Facial Wash,Kombinasi,Jerawat,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Facial Wash Kombinasi Jerawat Hyaluronic Acid, Lactic Ac..."
12,Face Toner,Normal,Normal,,Face Toner Normal Normal
13,Face Toner,Normal,Kusam,"Hyaluronic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, N...","Face Toner Normal Kusam Hyaluronic Acid, Alpha Hydroxy A..."
14,Face Toner,Normal,Jerawat,"Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid...","Face Toner Normal Jerawat Salicylic Acid, Sulfur, Azelai..."
15,Face Toner,Berminyak,Normal,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Face Toner Berminyak Normal Dimethicone, Glycolic Acid, ..."
16,Face Toner,Berminyak,Kusam,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Face Toner Berminyak Kusam Dimethicone, Glycolic Acid, H..."
17,Face Toner,Berminyak,Jerawat,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Face Toner Berminyak Jerawat Dimethicone, Glycolic Acid,..."
18,Face Toner,Kering,Normal,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Face Toner Kering Normal Hyaluronic Acid, Glycerin, Glyc..."
19,Face Toner,Kering,Kusam,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Face Toner Kering Kusam Hyaluronic Acid, Glycerin, Glyco..."
20,Face Toner,Kering,Jerawat,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Face Toner Kering Jerawat Hyaluronic Acid, Glycerin, Gly..."
21,Face Toner,Kombinasi,Normal,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Face Toner Kombinasi Normal Hyaluronic Acid, Lactic Acid..."
22,Face Toner,Kombinasi,Kusam,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Face Toner Kombinasi Kusam Hyaluronic Acid, Lactic Acid,..."
23,Face Toner,Kombinasi,Jerawat,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Face Toner Kombinasi Jerawat Hyaluronic Acid, Lactic Aci..."
24,Face Serum,Normal,Normal,,Face Serum Normal Normal
25,Face Serum,Normal,Kusam,"Hyaluronic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, N...","Face Serum Normal Kusam Hyaluronic Acid, Alpha Hydroxy A..."
26,Face Serum,Normal,Jerawat,"Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid...","Face Serum Normal Jerawat Salicylic Acid, Sulfur, Azelai..."
27,Face Serum,Berminyak,Normal,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Face Serum Berminyak Normal Dimethicone, Glycolic Acid, ..."
28,Face Serum,Berminyak,Kusam,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Face Serum Berminyak Kusam Dimethicone, Glycolic Acid, H..."
29,Face Serum,Berminyak,Jerawat,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Face Serum Berminyak Jerawat Dimethicone, Glycolic Acid,..."
30,Face Serum,Kering,Normal,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Face Serum Kering Normal Hyaluronic Acid, Glycerin, Glyc..."
31,Face Serum,Kering,Kusam,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Face Serum Kering Kusam Hyaluronic Acid, Glycerin, Glyco..."
32,Face Serum,Kering,Jerawat,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Face Serum Kering Jerawat Hyaluronic Acid, Glycerin, Gly..."
33,Face Serum,Kombinasi,Normal,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Face Serum Kombinasi Normal Hyaluronic Acid, Lactic Acid..."
34,Face Serum,Kombinasi,Kusam,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Face Serum Kombinasi Kusam Hyaluronic Acid, Lactic Acid,..."
35,Face Serum,Kombinasi,Jerawat,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Face Serum Kombinasi Jerawat Hyaluronic Acid, Lactic Aci..."
36,Moisturizer,Normal,Normal,,Moisturizer Normal Normal
37,Moisturizer,Normal,Kusam,"Hyaluronic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, N...","Moisturizer Normal Kusam Hyaluronic Acid, Alpha Hydroxy ..."
38,Moisturizer,Normal,Jerawat,"Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid...","Moisturizer Normal Jerawat Salicylic Acid, Sulfur, Azela..."
39,Moisturizer,Berminyak,Normal,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Moisturizer Berminyak Normal Dimethicone, Glycolic Acid,..."
40,Moisturizer,Berminyak,Kusam,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Moisturizer Berminyak Kusam Dimethicone, Glycolic Acid, ..."
41,Moisturizer,Berminyak,Jerawat,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Moisturizer Berminyak Jerawat Dimethicone, Glycolic Acid..."
42,Moisturizer,Kering,Normal,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Moisturizer Kering Normal Hyaluronic Acid, Glycerin, Gly..."
43,Moisturizer,Kering,Kusam,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Moisturizer Kering Kusam Hyaluronic Acid, Glycerin, Glyc..."
44,Moisturizer,Kering,Jerawat,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Moisturizer Kering Jerawat Hyaluronic Acid, Glycerin, Gl..."
45,Moisturizer,Kombinasi,Normal,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Moisturizer Kombinasi Normal Hyaluronic Acid, Lactic Aci..."
46,Moisturizer,Kombinasi,Kusam,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Moisturizer Kombinasi Kusam Hyaluronic Acid, Lactic Acid..."
47,Moisturizer,Kombinasi,Jerawat,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Moisturizer Kombinasi Jerawat Hyaluronic Acid, Lactic Ac..."
48,Sunscreen,Normal,Normal,,Sunscreen Normal Normal
49,Sunscreen,Berminyak,Normal,"Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide...","Sunscreen Berminyak Normal Dimethicone, Glycolic Acid, H..."
50,Sunscreen,Kering,Normal,"Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lac...","Sunscreen Kering Normal Hyaluronic Acid, Glycerin, Glyco..."
51,Sunscreen,Kombinasi,Normal,"Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitami...","Sunscreen Kombinasi Normal Hyaluronic Acid, Lactic Acid,..."

In [28]:
data_pengguna['input'][51]

'Sunscreen Kombinasi Normal Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E '

## 5 REKOMENDASI BERDASARKAN DATA INPUTAN PENGGUNA

In [29]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (1.3.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.24.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (3.1.0)

### Fungsi Text Preprocessing untuk Inputan Pengguna

In [30]:
#TEXT PREPROCESSING INPUTAN
def text_pre_input_two (user_input):
  # CASE FOLDING
    user_input = user_input.lower()

  # TOKENIZING
    # Menghapus Tanda Baca
    user_input = user_input.translate(
        str.maketrans("", "", string.punctuation))
    # Menghapus Simbol (@)
    user_input = re.sub(r"@\S+", "", user_input)
    # Menghapus URL
    user_input = re.sub("http[s]?\://\S+", "", user_input)
    # Menghapus tab atau line karakter
    user_input = re.sub(r"\n", "", user_input)
    # Menghapus berlebihan spasi
    user_input = re.sub('\s+', ' ', user_input)
    # dilakukan proses tokenization pada user_input
    tokens_query = [str(tok) for tok in nltk.word_tokenize(user_input)]

  # FILTERING
    # Stopword Bahasa Indonesia
    indo_stopword = set(stopwords.words('indonesian'))

    # Stopword Bahasa Inggris
    eng_stopword = set(stopwords.words('english'))

    # Data Stopword
    data_stopword = str(indo_stopword) + " " + str(eng_stopword)

    # Data tanpa stopword
    tokens_query = [word for word in tokens_query if not word in data_stopword]

  # # STEMMING
  #   the_query = []
  #   # Membuat stemmer
  #   Factory = StemmerFactory()
  #   Stemmer = Factory.create_stemmer()
  #   for i in range(0, len(tokens_query)):
  #       tokens_query[i] = Stemmer.stem(tokens_query[i])
  #       the_query.append(tokens_query[i])

    join_query = ' '.join(tokens_query)
    return (join_query)

In [31]:
print('Sebelum text preprocessing :')
print('Facial Wash Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid')
print('Setelah text preprocessing :')
a = 'Facial Wash Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid'
b = text_pre_input_two(a)
print(b)

Sebelum text preprocessing :
Facial Wash Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid
Setelah text preprocessing :
facial wash berminyak normal dimethicone glycolic acid hyaluronic acid niacinamide retinol salicylic acid

### Fungsi Mendapatkan Rekomendasi

In [32]:
#COSINE SIMILARITY AND GET THE RECOMMENDATION
from sklearn.metrics.pairwise import cosine_similarity

def get_recommendations_product_two(tfidf_dataset):

    # Mencari tingkat kemiripan antara user_input dengan dataset
    cos_sim = cosine_similarity(tfidf_dataset, tfidf_dataset)
    # print(cos_sim)
    df_cosim = pd.DataFrame(data=cos_sim)
    # display(df_cosim)

    #Mengambil nilai cosine similarity pada baris yang berisi inputan pengguna
    val_cos_sim = pd.DataFrame(data=cos_sim[-1,:], columns=['Cosine Similarity Score'])
    # display(val_cos_sim)

    # Mencari 5 teratas nilai kemiripan tertinggi
    top5 = val_cos_sim.sort_values("Cosine Similarity Score", ascending=False)[1:6]
    # display(top5)

    # Mencari index dari 5 nilai kemiripan teratas
    index = list(top5.index.values)

    return index, top5

In [33]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (3.1.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Contoh pada 1 Inputan Pengguna

In [34]:
#TFIDF
from sklearn.feature_extraction.text import TfidfVectorizer

# import xlsxwriter module
import xlsxwriter

#contoh inputan pengguna
test_case = "Facial Wash Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid"

print(test_case)

# TFIDF vectorizer
vectorizer = TfidfVectorizer(analyzer='word', stop_words=list(data_stopword))
# melakuka text preprocessing pada inputan pengguna
user_input = text_pre_input_two(test_case)
# menambahkan ke dalam dataset
add_data = pd.DataFrame({'data':user_input}, index=[-1])
# print(add_data)

# membuat variabel baru untuk menampung data product
the_data = data_product

#percabangan agar produk yang direkomendasikan sesuai dengan kategori
if (test_case.find('Facial Wash')!=-1):
  print ('Facial Wash')
  th_idx = pd.concat([dataset[0:20],add_data]).reset_index(drop=True)
  the_product = the_data[0:20]
elif (test_case.find('Face Toner')!=-1):
  print ('Face Toner')
  th_idx = pd.concat([dataset[20:40],add_data]).reset_index(drop=True)
  the_product = the_data[20:40]
elif (test_case.find('Face Serum')!=-1):
  print('Face Serum')
  th_idx = pd.concat([dataset[40:60],add_data]).reset_index(drop=True)
  the_product = the_data[40:60]
elif (test_case.find('Moisturizer')!=-1):
  print('Moisturizer')
  th_idx = pd.concat([dataset[60:80],add_data]).reset_index(drop=True)
  the_product = the_data[60:80]
else :
  print('Sunscreen')
  th_idx = pd.concat([dataset[80:100],add_data]).reset_index(drop=True)
  the_product = the_data[80:100]
  

tfidf_dataset1 = vectorizer.fit_transform(th_idx['data'])
index, top5 = get_recommendations_product_two(tfidf_dataset1)

res_data = pd.DataFrame(the_product[['Nama', 'Jenis ']].iloc[index])
top5.index = res_data.index
fix_res = pd.concat([res_data, top5], axis=1)

display(fix_res)

df_tfidf_sklearn = pd.DataFrame(tfidf_dataset1.toarray(), columns=vectorizer.get_feature_names_out())
tfidf_tokens = vectorizer.get_feature_names_out()
df_tfidfvect = pd.DataFrame(data=tfidf_dataset1.toarray(
), index=th_idx.index.values, columns=tfidf_tokens)

display(df_tfidfvect)

# Menuliskan hasil ke excel
writer = pd.ExcelWriter('C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/HasilRekomendasiTrial 3.xlsx', engine='xlsxwriter')
row = 2
col = 0
fix_res.to_excel(writer, startrow=row)

work_book = writer.book
work_sheet =  writer.sheets["Sheet1"]
row-=2
work_sheet.write(row, col, test_case)
row+= 3

writer.close()

Facial Wash Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid
Facial Wash

,Nama,Jenis,Cosine Similarity Score
4,Hy! Amino Control Oil Control Facial Wash,Facial Wash,0.225625
3,Hy! Amino Ac-TtackAnti-Acne Facial Wash,Facial Wash,0.198482
5,Hy! Amino Glo-Win Brightening Facial Wash,Facial Wash,0.178014
0,Marigold Deep-Cleanse Facial Wash,Facial Wash,0.173809
17,Hydralife Mild Cleanser Foam,Facial Wash,0.161352

,05,12,120ml,12hexanediol,15,17200,19140,20,2aminobutanol,3oethyl,...,volcanic,vulgaris,wajah,wash,water,wax,wowtery,xanthan,xylitol,zea
0,0.000000,0.000000,0.000000,0.068523,0.000000,0.000000,0.000000,0.122944,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.072365,0.052536,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.134367,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.134367,0.000000,...,0.000000,0.000000,0.000000,0.079088,0.172253,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.076745,0.000000,0.121265,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.081048,0.058840,0.000000,0.137696,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.078690,0.000000,0.000000,0.124338,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.083102,0.060331,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.076013,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.136383,0.000000,0.000000,0.080275,0.058279,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.068998,0.000000,0.000000,0.000000,0.000000,0.000000,0.123796,...,0.000000,0.000000,0.000000,0.072866,0.052900,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.088564,0.064296,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.121183,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.080993,0.058800,0.000000,0.000000,0.000000,0.000000,0.121183
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.110342,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.073747,0.053540,0.000000,0.000000,0.000000,0.000000,0.110342
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.035928,0.052167,0.122079,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.320024,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.188366,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.201476,0.118589,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.051790,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.027347,0.039708,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.096165,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.050778,0.073729,0.000000,0.000000,0.151950,0.000000,0.000000
14,0.215792,0.000000,0.000000,0.000000,0.215792,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.063508,0.092212,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.044136,0.000000,0.000000,0.000000,0.132074,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.123273,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.065092,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.072438,0.000000,0.000000,0.000000,0.000000,0.246137,0.000000
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.080816,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.212609,0.000000,0.062571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.125284,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

### Penerapan pada seluruh data pengguna

In [35]:
#TFIDF
from sklearn.feature_extraction.text import TfidfVectorizer

# import modul xlsxwriter untuk membantu menulis data ke excel
import xlsxwriter

# Membuat excel yang menjadi tujuan tuli
writer = pd.ExcelWriter('C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/HasilRekomendasiFix 3.xlsx', engine='xlsxwriter')
writer_two = pd.ExcelWriter(
    'C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/HasilTFIDF_FIX 3.xlsx', engine='xlsxwriter')
# Awal penulisan
row = 1
row_two = 1
col = 0
col_two = 0

data_index = pd.DataFrame({
  'index':[]
})

for i in range (0,len(data_pengguna)):
  # print(data_pengguna['input'][i])

  #contoh inputan pengguna
  test_case = data_pengguna['input'][i]

  # melakuka text preprocessing pada inputan pengguna
  user_input = text_pre_input_two(test_case)
  # menambahkan ke dalam dataset
  add_data = pd.DataFrame({'data':user_input}, index=[-1])
  # print(add_data)

  # membuat variabel baru untuk menampung data product
  the_data = data_product

  #percabangan agar produk yang direkomendasikan sesuai dengan kategori
  if (test_case.find('Facial Wash')!=-1):
    # print ('Facial Wash')
    th_idx = pd.concat([dataset[0:20],add_data]).reset_index(drop=True)
    the_product = the_data[0:20]
  elif (test_case.find('Face Toner')!=-1):
    # print ('Face Toner')
    th_idx = pd.concat([dataset[20:40],add_data]).reset_index(drop=True)
    the_product = the_data[20:40]
  elif (test_case.find('Face Serum')!=-1):
    # print('Face Serum')
    th_idx = pd.concat([dataset[40:60],add_data]).reset_index(drop=True)
    the_product = the_data[40:60]
  elif (test_case.find('Moisturizer')!=-1):
    # print('Moisturizer')
    th_idx = pd.concat([dataset[60:80],add_data]).reset_index(drop=True)
    the_product = the_data[60:80]
  else :
    # print('Sunscreen')
    th_idx = pd.concat([dataset[80:100],add_data]).reset_index(drop=True)
    the_product = the_data[80:100]

  # TFIDF vectorizer
  vectorizer = TfidfVectorizer(analyzer='word', stop_words=list(data_stopword))
  # Mencari nilai TFIDF dari dataset yang telah ditentukan
  tfidf_dataset1 = vectorizer.fit_transform(th_idx['data'])
  # Mencari rekomendasi berdasarkan nilai cosine similarity yang didapatkan dari nilai TFIDF sebelumnya
  index, top5 = get_recommendations_product_two(tfidf_dataset1)

  df_tfidf_sklearn = pd.DataFrame(tfidf_dataset1.toarray(), columns=vectorizer.get_feature_names_out())
  tfidf_tokens = vectorizer.get_feature_names_out()
  df_tfidfvect = pd.DataFrame(data=tfidf_dataset1.toarray(), index=th_idx.index.values, columns=tfidf_tokens)

  df_tfidfvect.to_excel(writer_two, startrow=row_two)
  # Mengakses file excel dan sheet untuk menuliskan sesuatu
  work_book_tw = writer_two.book
  work_sheet_tw = writer_two.sheets["Sheet1"]
  row_two -= 1

  # Menuliskan 'test_case' pada baris dan kolom yang telah ditentukan
  work_sheet_tw.write(row_two, col_two, test_case)
  row_two += 23
  work_sheet_tw.write(row_two, col_two, str(df_tfidfvect.shape))
  row_two +=4

  # display(df_tfidfvect)
  # print(df_tfidfvect.shape)

  # Menyimpan hasil rekomendasi berdasarkan indexnya
  res_data = pd.DataFrame(the_product[['Nama', 'Jenis ']].iloc[index])
  # Menyamakan index antara hasil rekomendasi dengan hasil cosine similarity
  top5.index = res_data.index
  # Menggabungkan data 
  fix_res = pd.concat([res_data, top5], axis=1)
  # display(fix_res)

  index_two = set(fix_res.index.values)

  print(index_two)
  data_index_new = pd.DataFrame([{'index': index_two}])
  data_index = pd.concat([data_index, data_index_new], ignore_index=True)

  # Hasil rekomendasi dituliskan ke dalam excel
  fix_res.to_excel(writer, startrow=row)

  # Mengakses file excel dan sheet untuk menuliskan sesuatu
  work_book = writer.book
  work_sheet =  writer.sheets["Sheet1"]
  row-=1
  
  # Menuliskan 'test_case' pada baris dan kolom yang telah ditentukan
  work_sheet.write(row, col, test_case)
  row+= 10

# Menyimpan hasil yang telah dituliskan
writer.close()
writer_two.close()

{3, 6, 10, 11, 17}
{0, 3, 5, 8, 15}
{1, 3, 4, 6, 15}
{0, 3, 4, 5, 17}
{0, 3, 4, 5, 17}
{0, 3, 4, 5, 15}
{3, 4, 6, 15, 17}
{0, 3, 4, 6, 15}
{0, 3, 4, 6, 15}
{3, 5, 6, 7, 15}
{0, 5, 6, 7, 15}
{3, 4, 5, 6, 15}
{36, 23, 27, 28, 30}
{32, 23, 24, 28, 29}
{39, 22, 23, 29, 30}
{23, 24, 25, 26, 30}
{23, 24, 28, 29, 30}
{23, 24, 25, 29, 30}
{22, 23, 24, 26, 30}
{23, 24, 26, 28, 29}
{22, 23, 24, 25, 30}
{23, 24, 25, 26, 28}
{23, 24, 26, 28, 29}
{23, 24, 25, 28, 30}
{50, 51, 52, 55, 59}
{47, 54, 55, 58, 59}
{47, 54, 56, 57, 58}
{42, 47, 52, 54, 57}
{42, 47, 52, 54, 57}
{42, 47, 54, 56, 57}
{42, 47, 54, 56, 57}
{42, 47, 54, 56, 57}
{42, 47, 54, 56, 57}
{45, 47, 52, 54, 57}
{45, 47, 52, 54, 57}
{47, 52, 54, 56, 57}
{66, 70, 76, 77, 63}
{67, 72, 78, 79, 60}
{69, 72, 75, 79, 63}
{68, 69, 72, 78, 79}
{69, 72, 78, 79, 60}
{69, 72, 75, 78, 79}
{65, 69, 72, 75, 79}
{65, 69, 72, 79, 60}
{69, 72, 75, 78, 79}
{69, 72, 75, 78, 79}
{69, 72, 75, 79, 60}
{69, 72, 75, 78, 79}
{96, 99, 86, 90, 93}
{96, 97, 86, 87, 92}
{96, 97, 99, 86, 88}
{96, 97, 99, 86, 88}

In [36]:
data_index.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'IndexRekomendasi 3.xlsx', index=False)

# IMPORT DATA REKOMENDASI AHLI

In [37]:
pd.set_option('display.max_colwidth', 200)
# Membaca data csv
data_path = "C:\\Users\\HP\\Downloads\\TUGAS AKHIR\\Produk Skincare Data - Copy of Copy of data rekomendasi ahli.csv"
data_ahli = pd.read_csv(data_path)

# Menampilkan data
data_ahli.head(5)

,NO,Jenis Produk,Jenis Kulit,Permasalahan Kulit,Index,5 Rekomendasi
0,1,Facial wash,Normal,Normal,10,Kind Facial Wash 120ml
1,1,Facial wash,Normal,Normal,11,Facial Wash Gel (Sabun Wajah) Rose
2,1,Facial wash,Normal,Normal,13,Skin Barrier Face Gel Cleanser
3,1,Facial wash,Normal,Normal,14,Deep Water Face & Light Makeup Gel Cleanser
4,1,Facial wash,Normal,Normal,17,Hydralife Mild Cleanser Foam

In [38]:
data_ahli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NO                  260 non-null    int64
 1   Jenis Produk        260 non-null    object
 2   Jenis Kulit         260 non-null    object
 3   Permasalahan Kulit  260 non-null    object
 4   Index               260 non-null    int64
 5   5 Rekomendasi       260 non-null    object
dtypes: int64(2), object(4)
memory usage: 12.3+ KB

In [39]:
data_ahli['Index'] = data_ahli['Index'].astype(object)

In [40]:
data_ahli = data_ahli.groupby('NO', as_index=False).agg(
    {'Jenis Produk': 'first', 'Jenis Kulit': 'first', 'Permasalahan Kulit': 'first', 'Index': lambda x: set(x), '5 Rekomendasi': ', '.join})

data_ahli.head(3)

,NO,Jenis Produk,Jenis Kulit,Permasalahan Kulit,Index,5 Rekomendasi
0,1,Facial wash,Normal,Normal,"{10, 11, 13, 14, 17}","Kind Facial Wash 120ml, Facial Wash Gel (Sabun Wajah) Rose, Skin Barrier Face Gel Cleanser, Deep Water Face & Light Makeup Gel Cleanser, Hydralife Mild Cleanser Foam"
1,2,Facial wash,Normal,Kusam,"{0, 1, 2, 6, 14}","Golden Age Deep Cleansing Facial Wash, Deep Water Face & Light Makeup Gel Cleanser, Marigold Deep-Cleanse Facial Wash, Acne Facial Wash, Hy! Amino Wow-tery Hydrating Facial Wash"
2,3,Facial wash,Normal,Jerawat,"{3, 8, 12, 15, 18}","Acne Buster Mild Cleanser Foam, Hy! Amino Ac-TtackAnti-Acne Facial Wash, Simply Bright Facial Wash Grape & Hyaluronic Acid, Licorice Bring The Light Cleanser, Tea Tree & Lemon Facial Cleanser"

In [41]:
data_ahli = data_ahli.drop(labels=["NO"], axis='columns')

In [42]:
data_ahli.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'HasilRekomendasiAhli 3.xlsx', index=False)

# CONFUSION MATRIX

In [43]:
th_data_ahli = pd.read_excel(
    "C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" + 'MatriksHasilRekomendasiAhli 3.xlsx')
th_data_ahli.head(3)

                                                                                                                                                                                                     index
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1  [1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2  [0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [44]:
th_data_sistem = pd.read_excel(
    "C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" + 'MatriksHasilRekomendasiSistem 3.xlsx')
th_data_sistem.head(3)

                                                                                                                                                                                                     index
0  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1  [1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2  [0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [45]:
data_eval = pd.DataFrame({
  'Hasil Rekom Ahli' : [],
  'Hasil Rekom Sistem' : [],
  'True Positive (TP)' : [],
  'False Positive (FP)': [],
  'False Negative (FN)': [],
  'True Negative (TN)': [],
  'Accuracy' : [],
  'Precision' : [],
  'Recall' : [],
  'F1_Score' : []
})

In [46]:
import ast
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report

for i in range (0,len(th_data_ahli)):
  y_true = ast.literal_eval(th_data_ahli['index'][i])
  y_pred = ast.literal_eval(th_data_sistem['index'][i])

  conf_matrix = confusion_matrix(y_true, y_pred, labels=[1, 0])
  # print("Confusion matrix:\n", conf_matrix)
  # print("TP :",conf_matrix[0][0])
  # print("FP :", conf_matrix[1][0])
  # print("FN :", conf_matrix[0][1])
  # print("TN :", conf_matrix[1][1])

  accuracy = accuracy_score(y_true, y_pred)
  precision = precision_score(y_true, y_pred)
  recall = recall_score(y_true, y_pred)
  f1 = f1_score(y_true, y_pred)

  # print("Accuracy:", accuracy)
  # print("Precision:", precision)
  # print("Recall:", recall)
  # print("F1 Score:", f1)
  # print('\n')

  # print(classification_report(y_true, y_pred))

  data_eval_new = pd.DataFrame([{
      'Hasil Rekom Ahli': data_ahli['Index'][i],
      'Hasil Rekom Sistem': data_index['index'][i],
      'True Positive (TP)': conf_matrix[0][0],
      'False Positive (FP)': conf_matrix[1][0],
      'False Negative (FN)': conf_matrix[0][1],
      'True Negative (TN)': conf_matrix[1][1],
      'Accuracy': accuracy,
      'Precision': precision,
      'Recall': recall,
      'F1_Score': f1
  }])

  data_eval = pd.concat([data_eval, data_eval_new], ignore_index = True)

In [47]:
data_eval.head(5)

,Hasil Rekom Ahli,Hasil Rekom Sistem,True Positive (TP),False Positive (FP),False Negative (FN),True Negative (TN),Accuracy,Precision,Recall,F1_Score
0,"{10, 11, 13, 14, 17}","{3, 6, 10, 11, 17}",3.0,2.0,2.0,93.0,0.96,0.6,0.6,0.6
1,"{0, 1, 2, 6, 14}","{0, 3, 5, 8, 15}",1.0,4.0,4.0,91.0,0.92,0.2,0.2,0.2
2,"{3, 8, 12, 15, 18}","{1, 3, 4, 6, 15}",2.0,3.0,3.0,92.0,0.94,0.4,0.4,0.4
3,"{1, 15, 16, 17, 19}","{0, 3, 4, 5, 17}",1.0,4.0,4.0,91.0,0.92,0.2,0.2,0.2
4,"{0, 1, 5, 7, 9}","{0, 3, 4, 5, 17}",2.0,3.0,3.0,92.0,0.94,0.4,0.4,0.4

In [48]:
data_eval.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'TabelConfusionMatrix 3.xlsx', index=False)