In [4]:
corpus = ['facial wash normal jerawat allantoin glycerin salicylic acid', 'kind facial wash facial wash normal minyak kering kombinasi normal kusam jerawat aqua',
          'face light makeup gel cleanser facial wash normal minyak kering kombinasi normal glycerin']

In [6]:
the_wrd = []
for i in range(0, len(corpus)):
  words = corpus[i].split()
  for w in words:
    if w not in the_wrd:
      the_wrd.append(w)

the_wrd = sorted(the_wrd)
print(the_wrd)

['acid', 'allantoin', 'aqua', 'cleanser', 'face', 'facial', 'gel', 'glycerin', 'jerawat', 'kering', 'kind', 'kombinasi', 'kusam', 'light', 'makeup', 'minyak', 'normal', 'salicylic', 'wash']

In [8]:
import pandas as pd
import numpy as np

n_data = len(corpus)
n_kata = len(the_wrd)

data_tf = pd.DataFrame(np.zeros((n_data, n_kata)), columns=list(the_wrd))

# Compute Term Frequency (TF)
temp = 0
a = []
for i in range(n_data):

    words = corpus[i].split()  # Words in the document
    print(words)
    for w in words:
        data_tf[w][i] = data_tf[w][i] + 1 / len(words)

data_tf

['facial', 'wash', 'normal', 'jerawat', 'allantoin', 'glycerin', 'salicylic', 'acid']
['kind', 'facial', 'wash', 'facial', 'wash', 'normal', 'minyak', 'kering', 'kombinasi', 'normal', 'kusam', 'jerawat', 'aqua']
['face', 'light', 'makeup', 'gel', 'cleanser', 'facial', 'wash', 'normal', 'minyak', 'kering', 'kombinasi', 'normal', 'glycerin']

,acid,allantoin,aqua,cleanser,face,facial,gel,glycerin,jerawat,kering,kind,kombinasi,kusam,light,makeup,minyak,normal,salicylic,wash
0,0.125,0.125,0.000000,0.000000,0.000000,0.125000,0.000000,0.125000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.125,0.125000
1,0.000,0.000,0.076923,0.000000,0.000000,0.153846,0.000000,0.000000,0.076923,0.076923,0.076923,0.076923,0.076923,0.000000,0.000000,0.076923,0.153846,0.000,0.153846
2,0.000,0.000,0.000000,0.076923,0.076923,0.076923,0.076923,0.076923,0.000000,0.076923,0.000000,0.076923,0.000000,0.076923,0.076923,0.076923,0.153846,0.000,0.076923

In [9]:
#Menjadikan dataset file xlsx
data_tf.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'TF_Manual_Laporan.xlsx', index=False)

In [10]:
idf = {}

for w in the_wrd:
    n = 0

    for i in range(n_data):
        if w in corpus[i].split():
            n += 1
    # a = 1+n_data
    # b = 1+n
    # print(a,b)
    idf[w] = (np.log((1+n_data)/(1+n)))+1

print(idf)
data_idf = pd.DataFrame.from_dict(idf, orient='index', columns=['Nilai IDF'])

data_idf.head(5)

{'acid': 1.6931471805599454, 'allantoin': 1.6931471805599454, 'aqua': 1.6931471805599454, 'cleanser': 1.6931471805599454, 'face': 1.6931471805599454, 'facial': 1.0, 'gel': 1.6931471805599454, 'glycerin': 1.2876820724517808, 'jerawat': 1.2876820724517808, 'kering': 1.2876820724517808, 'kind': 1.6931471805599454, 'kombinasi': 1.2876820724517808, 'kusam': 1.6931471805599454, 'light': 1.6931471805599454, 'makeup': 1.6931471805599454, 'minyak': 1.2876820724517808, 'normal': 1.0, 'salicylic': 1.6931471805599454, 'wash': 1.0}

           Nilai IDF
acid        1.693147
allantoin   1.693147
aqua        1.693147
cleanser    1.693147
face        1.693147

In [11]:
#Menjadikan dataset file xlsx
data_idf.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'IDF_Manual_Laporan.xlsx', index=False)

In [12]:
data_tf_idf = data_tf.copy()

for w in the_wrd:
    for i in range(n_data):
        data_tf_idf[w][i] = data_tf[w][i] * idf[w]

data_tf_idf

,acid,allantoin,aqua,cleanser,face,facial,gel,glycerin,jerawat,kering,kind,kombinasi,kusam,light,makeup,minyak,normal,salicylic,wash
0,0.211643,0.211643,0.000000,0.000000,0.000000,0.125000,0.000000,0.160960,0.160960,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.211643,0.125000
1,0.000000,0.000000,0.130242,0.000000,0.000000,0.153846,0.000000,0.000000,0.099052,0.099052,0.130242,0.099052,0.130242,0.000000,0.000000,0.099052,0.153846,0.000000,0.153846
2,0.000000,0.000000,0.000000,0.130242,0.130242,0.076923,0.130242,0.099052,0.000000,0.099052,0.000000,0.099052,0.000000,0.130242,0.130242,0.099052,0.153846,0.000000,0.076923

In [13]:
#Menjadikan dataset file xlsx
data_tf_idf.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'TF_IDF_Manual_Laporan.xlsx', index=False)

In [14]:
# Melakukan normalisasi
from sklearn import preprocessing
import numpy as np

normalizd_arr = preprocessing.normalize(data_tf_idf)

after_normz = pd.DataFrame(normalizd_arr, columns=list(the_wrd))
after_normz

,acid,allantoin,aqua,cleanser,face,facial,gel,glycerin,jerawat,kering,kind,kombinasi,kusam,light,makeup,minyak,normal,salicylic,wash
0,0.438391,0.438391,0.000000,0.00000,0.00000,0.258921,0.00000,0.333407,0.333407,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.258921,0.438391,0.258921
1,0.000000,0.000000,0.324451,0.00000,0.00000,0.383252,0.00000,0.000000,0.246753,0.246753,0.324451,0.246753,0.324451,0.00000,0.00000,0.246753,0.383252,0.000000,0.383252
2,0.000000,0.000000,0.000000,0.32605,0.32605,0.192571,0.32605,0.247970,0.000000,0.247970,0.000000,0.247970,0.000000,0.32605,0.32605,0.247970,0.385141,0.000000,0.192571

In [15]:
#Menjadikan dataset file xlsx
after_normz.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'TF_IDF_Manual(AfterNormz)_Laporan.xlsx', index=False)

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(analyzer='word')
tfidf_dataset_coba = vectorizer.fit_transform(corpus)

df_tfidf_sklearn = pd.DataFrame(
    tfidf_dataset_coba.toarray(), columns=vectorizer.get_feature_names_out())
tfidf_tokens = vectorizer.get_feature_names_out()
df_tfidfvect = pd.DataFrame(data=tfidf_dataset_coba.toarray(
), index=[0, 1, 2], columns=tfidf_tokens)

df_tfidfvect

,acid,allantoin,aqua,cleanser,face,facial,gel,glycerin,jerawat,kering,kind,kombinasi,kusam,light,makeup,minyak,normal,salicylic,wash
0,0.438391,0.438391,0.000000,0.00000,0.00000,0.258921,0.00000,0.333407,0.333407,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.258921,0.438391,0.258921
1,0.000000,0.000000,0.324451,0.00000,0.00000,0.383252,0.00000,0.000000,0.246753,0.246753,0.324451,0.246753,0.324451,0.00000,0.00000,0.246753,0.383252,0.000000,0.383252
2,0.000000,0.000000,0.000000,0.32605,0.32605,0.192571,0.32605,0.247970,0.000000,0.247970,0.000000,0.247970,0.000000,0.32605,0.32605,0.247970,0.385141,0.000000,0.192571

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

cos_sim = cosine_similarity(data_tf_idf, data_tf_idf)
# print(cos_sim)
df_cosim = pd.DataFrame(data=cos_sim)
display(df_cosim)

          0         1         2
0  1.000000  0.379965  0.282117
1  0.379965  1.000000  0.478774
2  0.282117  0.478774  1.000000

In [18]:
from sklearn.metrics.pairwise import cosine_similarity

cos_sim = cosine_similarity(tfidf_dataset_coba, tfidf_dataset_coba)
# print(cos_sim)
df_cosim = pd.DataFrame(data=cos_sim)
display(df_cosim)

          0         1         2
0  1.000000  0.379965  0.282117
1  0.379965  1.000000  0.478774
2  0.282117  0.478774  1.000000