In [47]:
corpus = ['facial wash normal jerawat allantoin glycerin salicylic acid', 'kind facial wash facial wash normal minyak kering kombinasi normal kusam jerawat aqua',
          'face light makeup gel cleanser facial wash normal minyak kering kombinasi normal glycerin']

In [48]:
the_wrd = []
for i in range(0, len(corpus)):
  words = corpus[i].split()
  for w in words:
    if w not in the_wrd:
      the_wrd.append(w)

the_wrd = sorted(the_wrd)
print(the_wrd)

['acid', 'allantoin', 'aqua', 'cleanser', 'face', 'facial', 'gel', 'glycerin', 'jerawat', 'kering', 'kind', 'kombinasi', 'kusam', 'light', 'makeup', 'minyak', 'normal', 'salicylic', 'wash']

In [49]:
import pandas as pd
import numpy as np

n_data = len(corpus)
n_kata = len(the_wrd)

data_tf = pd.DataFrame(np.zeros((n_data, n_kata)), columns=list(the_wrd))

# Compute Term Frequency (TF)
temp = 0
a = []
for i in range(n_data):

    words = corpus[i].split()  # Words in the document
    print(words)
    for w in words:
        data_tf[w][i] = data_tf[w][i] + 1 / len(words)

data_tf

['facial', 'wash', 'normal', 'jerawat', 'allantoin', 'glycerin', 'salicylic', 'acid']
['kind', 'facial', 'wash', 'facial', 'wash', 'normal', 'minyak', 'kering', 'kombinasi', 'normal', 'kusam', 'jerawat', 'aqua']
['face', 'light', 'makeup', 'gel', 'cleanser', 'facial', 'wash', 'normal', 'minyak', 'kering', 'kombinasi', 'normal', 'glycerin']

,acid,allantoin,aqua,cleanser,face,facial,gel,glycerin,jerawat,kering,kind,kombinasi,kusam,light,makeup,minyak,normal,salicylic,wash
0,0.125,0.125,0.000000,0.000000,0.000000,0.125000,0.000000,0.125000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.125,0.125000
1,0.000,0.000,0.076923,0.000000,0.000000,0.153846,0.000000,0.000000,0.076923,0.076923,0.076923,0.076923,0.076923,0.000000,0.000000,0.076923,0.153846,0.000,0.153846
2,0.000,0.000,0.000000,0.076923,0.076923,0.076923,0.076923,0.076923,0.000000,0.076923,0.000000,0.076923,0.000000,0.076923,0.076923,0.076923,0.153846,0.000,0.076923

In [50]:
#Menjadikan dataset file xlsx
data_tf.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'TF_Manual_Laporan.xlsx', index=False)

In [51]:
idf = {}

for w in the_wrd:
    n = 0

    for i in range(n_data):
        if w in corpus[i].split():
            n += 1
    # a = n_data
    # b = n
    # print(a,b)
    idf[w] = (np.log10((n_data)/(n)))+1

print(idf)
data_idf = pd.DataFrame.from_dict(idf, orient='index', columns=['Nilai IDF'])

data_idf.head(5)

{'acid': 1.4771212547196624, 'allantoin': 1.4771212547196624, 'aqua': 1.4771212547196624, 'cleanser': 1.4771212547196624, 'face': 1.4771212547196624, 'facial': 1.0, 'gel': 1.4771212547196624, 'glycerin': 1.1760912590556813, 'jerawat': 1.1760912590556813, 'kering': 1.1760912590556813, 'kind': 1.4771212547196624, 'kombinasi': 1.1760912590556813, 'kusam': 1.4771212547196624, 'light': 1.4771212547196624, 'makeup': 1.4771212547196624, 'minyak': 1.1760912590556813, 'normal': 1.0, 'salicylic': 1.4771212547196624, 'wash': 1.0}

           Nilai IDF
acid        1.477121
allantoin   1.477121
aqua        1.477121
cleanser    1.477121
face        1.477121

In [52]:
#Menjadikan dataset file xlsx
# data_idf.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'IDF_Manual_Laporan.xlsx', index=False)

In [53]:
# Menjadikan dataset file xlsx
data_idf.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'IDF_Manual_Laporan_two.xlsx', index=False)

In [54]:
data_tf_idf = data_tf.copy()

for w in the_wrd:
    for i in range(n_data):
        data_tf_idf[w][i] = data_tf[w][i] * idf[w]

data_tf_idf

,acid,allantoin,aqua,cleanser,face,facial,gel,glycerin,jerawat,kering,kind,kombinasi,kusam,light,makeup,minyak,normal,salicylic,wash
0,0.18464,0.18464,0.000000,0.000000,0.000000,0.125000,0.000000,0.147011,0.147011,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.18464,0.125000
1,0.00000,0.00000,0.113625,0.000000,0.000000,0.153846,0.000000,0.000000,0.090469,0.090469,0.113625,0.090469,0.113625,0.000000,0.000000,0.090469,0.153846,0.00000,0.153846
2,0.00000,0.00000,0.000000,0.113625,0.113625,0.076923,0.113625,0.090469,0.000000,0.090469,0.000000,0.090469,0.000000,0.113625,0.113625,0.090469,0.153846,0.00000,0.076923

In [55]:
#Menjadikan dataset file xlsx
# data_tf_idf.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'TF_IDF_Manual_Laporan.xlsx', index=False)

In [56]:
#Menjadikan dataset file xlsx
data_tf_idf.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'TF_IDF_Manual_Laporan_two.xlsx', index=False)

In [57]:
# Melakukan normalisasi
from sklearn import preprocessing
import numpy as np

normalizd_arr = preprocessing.normalize(data_tf_idf)

after_normz = pd.DataFrame(normalizd_arr, columns=list(the_wrd))
after_normz

,acid,allantoin,aqua,cleanser,face,facial,gel,glycerin,jerawat,kering,kind,kombinasi,kusam,light,makeup,minyak,normal,salicylic,wash
0,0.42097,0.42097,0.000000,0.000000,0.000000,0.284993,0.000000,0.335178,0.335178,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.284993,0.42097,0.284993
1,0.00000,0.00000,0.301025,0.000000,0.000000,0.407583,0.000000,0.000000,0.239677,0.239677,0.301025,0.239677,0.301025,0.000000,0.000000,0.239677,0.407583,0.00000,0.407583
2,0.00000,0.00000,0.000000,0.311805,0.311805,0.211090,0.311805,0.248261,0.000000,0.248261,0.000000,0.248261,0.000000,0.311805,0.311805,0.248261,0.422180,0.00000,0.211090

In [58]:
#Menjadikan dataset file xlsx
# after_normz.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'TF_IDF_Manual(AfterNormz)_Laporan.xlsx', index=False)

In [59]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(analyzer='word')
tfidf_dataset_coba = vectorizer.fit_transform(corpus)

df_tfidf_sklearn = pd.DataFrame(
    tfidf_dataset_coba.toarray(), columns=vectorizer.get_feature_names_out())
tfidf_tokens = vectorizer.get_feature_names_out()
df_tfidfvect = pd.DataFrame(data=tfidf_dataset_coba.toarray(
), index=[0, 1, 2], columns=tfidf_tokens)

df_tfidfvect

,acid,allantoin,aqua,cleanser,face,facial,gel,glycerin,jerawat,kering,kind,kombinasi,kusam,light,makeup,minyak,normal,salicylic,wash
0,0.438391,0.438391,0.000000,0.00000,0.00000,0.258921,0.00000,0.333407,0.333407,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.258921,0.438391,0.258921
1,0.000000,0.000000,0.324451,0.00000,0.00000,0.383252,0.00000,0.000000,0.246753,0.246753,0.324451,0.246753,0.324451,0.00000,0.00000,0.246753,0.383252,0.000000,0.383252
2,0.000000,0.000000,0.000000,0.32605,0.32605,0.192571,0.32605,0.247970,0.000000,0.247970,0.000000,0.247970,0.000000,0.32605,0.32605,0.247970,0.385141,0.000000,0.192571

In [63]:
from sklearn.metrics.pairwise import cosine_similarity

cos_sim = cosine_similarity(data_tf_idf, data_tf_idf)
# print(cos_sim)
df_cosim = pd.DataFrame(data=cos_sim)
display(df_cosim)

          0         1         2
0  1.000000  0.428810  0.323849
1  0.428810  1.000000  0.522654
2  0.323849  0.522654  1.000000

In [61]:
from sklearn.metrics.pairwise import cosine_similarity

cos_sim = cosine_similarity(tfidf_dataset_coba, tfidf_dataset_coba)
# print(cos_sim)
df_cosim = pd.DataFrame(data=cos_sim)
display(df_cosim)

          0         1         2
0  1.000000  0.379965  0.282117
1  0.379965  1.000000  0.478774
2  0.282117  0.478774  1.000000